.CEDISPLAY{
        display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		column-gap: 5px; 
		border-style:solid;
		border-width:1px;
		overflow:auto;
}
.CEDISPLAY_button {
		width: 150px;
		border-style:solid;
		border-width:1px;
		padding-top:5px;
		padding-right:5px;
		padding-left:5px;
		padding-bottom:5px;
		margin-top:5px;
		margin-bottom:5px;
		margin-right:5px;
		margin-left:5px;
}
.CEDISPLAY_setting {
		flex: 1;
		border-style:solid;
		border-width:1px;
		padding-top:5px;
		padding-right:5px;
		padding-left:5px;
		padding-bottom:5px;
		overflow:auto;
		margin-top:5px;
		margin-bottom:5px;
		margin-right:5px;
		margin-left:5px;
}
.CEbuttonSettings {
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		margin-top:5px;
		margin-bottom:5px;
}
.CEbuttonSettingsSelected button {
		border: 1px solid var(--gold);
		margin-top:5px;
		margin-bottom:5px;
}
.CEinCheatMenuBotton button {
		border-style:solid;
		border-width:2px;
}
.CEtextarea {
		width:100%;
        overflow:auto;
}
.CEliat {
  width: 100%;           /* 自適應父容器寬度 */
  max-width: 600px;      /* 可選最大寬度 */
  max-height: 300px;     /* 當內容超過這個高度才出現滾動條 */
  overflow-y: auto;      /* 自動垂直滾動 */
  overflow-x: auto;    /* 自動水平滾動 */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
 /* background-color: #f9f9f9;*/
  border-radius: 4px;
}